/* BattleScreen.css */
.battle-screen-layout {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Estira las columnas */
    height: 100%;       /* Ocupa el contenedor padre (game-viewport) */
    padding: 20px;
    gap: 20px;
}

.side-column {
  width: 300px; /* Ancho fijo para las listas */
    height: 80%;
    border-radius: 12px;
}

.center-column {
    flex: 1;         /* Ocupa todo el espacio sobrante */
    display: flex;
    flex-direction: column;
    
}