/*DIV GENERAL QUE GUARDA LA LISTA DE ENTRENADORES*/
.avatar-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin: 50px 0;
}

/*Tamaño Avatar con tarjeta incluida*/
.avatar-option {
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    transition: transform 0.2s;
}

/*ESCALA AL PASAR EL RATÓN POR ENCIMA DEL TRAINER*/
.avatar-option:hover {
    transform: scale(1.7);
}

/*AVATAR SELECCIONADO*/
.avatar-option.selected {
    border-color: #ffffff;
    background: #424f70;
    box-shadow: -10px 5px 10px #636984;
}

/*IMAGEN AVATAR*/
.avatar-option img {
    width: 100%;
    image-rendering: pixelated;
    padding: 0;
    margin: 0;

}