/*ESTILO GLOBAL DE LA PÁGINA*/
* {
    font-family: 'Press Start 2P', cursive;
}

/*Barra de Input*/
.register-input {
    font-size: 10px;
    width: 15vw;
    height: 1.5vw;
    margin-left: 2.5vw;
    padding: 1%;
    border: 8px outset;
}

/*Contenedor con formulario y Avatar Selector*/
.register-container {
    /*Medidas del formulario*/
    width: 100%;
    height: 85%;
    /* Esto centra verticalmente todo el bloque */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* CONTENEDOR SPLIT: 
    La clave del diseño -> 
        Aquí dentro van los dos formularios y "VS" */
.split-screen-layout {
    /* Ancho máximo del contenido */
    max-width: 1000px;
    /* Flexbox para las columnas */
    display: flex;
    gap: 2.5vw;
}

/*COLUMNA DE FORMULARIO PLAYER*/
.player-column {
    flex: 2;
    /* Ambos ocupan el mismo ancho */
    display: flex;
    flex-direction: column;
}

/* CLASE NUEVA: Estado Bloqueado/Terminado */
.player-column.locked {
    /* Se vuelve semitransparente */
    opacity: 0.4;
    /* IMPIDE hacer click o escribir (lo bloquea) */
    pointer-events: none;
}

/*ESTILO DIVISOR "VS"*/
.vs-divider {
    align-self: center;
    font-size: 3rem;
    color: #b40b0b;
    text-shadow: 4px 4px 0px #000;
    margin: 20px;
}

/* Área del botón final */
.start-game-actions {
    margin-top: 10px;
    text-align: center;
    padding-top: 20px;
}