/*ESTILO GENERAL PARA TODOS LOS ACTION-BUTTONS QUE DECLAREMOSe*/
.btn-action {
    /*Damos espacio tanto arriba, abajo, y en los laterales */
    padding: 14px 24px;
    /*Quitamos el borde*/
    border: none;
    /* Forma de píldora (como Start/Select o botones A/B) */
    border-radius: 50px;
    margin: 10px;
    /* TIPOGRAFÍA */
    font-family: 'Press Start 2P', cursive, sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    /* EFECTO PLÁSTICO 3D (El truco Nintendo) */
    /* Sombra 1 (inset blanco): Brillo superior (luz) */
    /* Sombra 2 (inset negro): Sombra inferior (volumen) */
    /* Sombra 3 (externa): La sombra que proyecta el botón en la carcasa */
    box-shadow:
        inset 0px 4px 0px rgba(255, 255, 255, 0.4),
        inset 0px -4px 0px rgba(0, 0, 0, 0.2),
        0px 6px 0px rgba(0, 0, 0, 0.3);
        
}

.btn-action:disabled {
    background-color: #9ea7b4;
    border: none;
    /* Gris plástico viejo */
    color: #6a737d;
    cursor: not-allowed;
    transform: translateY(4px);
    /* Se queda hundido */
    /* Reutilizo la escala de sombras*/
    box-shadow:
        inset 0px 4px 0px rgba(255, 255, 255, 0.4),
        inset 0px -4px 0px rgba(0, 0, 0, 0.2),
        0px 6px 0px rgba(0, 0, 0, 0.3);
}

/* --- COLORES --- */
/* PRIMARY: El Botón "A" (Rojo Gameboy Clásico) */
.primary {
    background-color: #c6616b;
    color: white;
    text-shadow: 2px 2px 0px #a13d47;
    /* Texto con relieve */
}

/* Un pequeño ajuste al hover para dar feedback */
.primary:hover:not(:disabled) {
    background-color: #a13d47;
}

/* SECONDARY: El Botón "Start/Select" o Gameboy Screen (Verde/Gris) */
.secondary {
    background-color: #333333;
    /* Gris oscuro D-PAD */
    color: #f0f0f0;
    border: 2px solid #555;
    /* Un borde sutil para diferenciar */
}

.secondary:hover:not(:disabled) {
    background-color: #444444;
}