/* src/components/PokemonCard.css */

.pokedex-entry {
    /* Fondo que simula la pantalla verdosa/grisácea de la GameBoy */
    background-color: #f0f0f0; 
    border: 4px solid #000;
    padding: 8px;
    font-family: 'Press Start 2P', monospace; /* Fuente retro */
    color: #000;
    position: relative;
    cursor: pointer;
    transition: transform 0.1s, background-color 0.1s;
    
    /* Sombra dura para dar volumen */
    box-shadow: 6px 6px 0 rgba(0,0,0,0.3);
}

.pokedex-entry:hover {
    transform: translate(-2px, -2px);
    background-color: #fff; /* Se ilumina un poco al pasar el ratón */
    box-shadow: 8px 8px 0 rgba(0,0,0,0.5);
    z-index: 10;
}

/* --- CABECERA (No. 025) --- */
.pokedex-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: 2px dashed #000; /* Línea divisoria punteada estilo retro */
    padding-bottom: 4px;
}

.pokedex-number {
    font-size: 10px;
    font-weight: bold;
}

/* --- IMAGEN (Sprite) --- */
.sprite-container {
    background-color: #fff;
    border: 2px solid #000;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.pokedex-sprite {
    width: 80px;
    height: 80px;
    object-fit: contain;
    /* CRÍTICO: Mantiene los píxeles duros y nítidos */
    image-rendering: pixelated; 
}

/* --- DATOS (Nombre y Tipo) --- */
.pokedex-info {
    text-align: left;
    margin-top: 5px;
}

.pokedex-name {
    font-size: 11px; /* Un pelín más pequeño para que quepan nombres largos */
    text-transform: uppercase;
    margin: 0 0 5px 0;
    letter-spacing: 0px;
}

.pokedex-stats {
    display: flex;
    flex-direction: column;
    gap: 8px; /* Más espacio entre el tipo y la vida */
    font-size: 8px;
}

/* Contenedor para la etiqueta Types para que se alinee a la izquierda */
.type-container {
    display: flex;
    justify-content: flex-start;
}

/* La etiqueta .type-badge ya tiene sus estilos en Types.css, 
   así que aquí solo nos preocupamos de la vida */

.pokedex-hp {
    font-weight: bold;
    font-family: 'Press Start 2P', monospace;
    padding-top: 4px;
    border-top: 2px dashed #bbb; /* Línea separadora sutil */
    color: #333;
}