*{
    font-family: 'Press Start 2P', cursive;
}

.team-builder-layout {
    display: grid;
    /* 3 COLUMNAS: Sidebar Izq | Centro Flexible | Sidebar Der */
    grid-template-columns: 240px 1fr 240px;
    gap: 20px;
    padding: 5vh;
    margin: 2vh;
    height: 120vh;
    font-family: 'Press Start 2P', cursive;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #82b2df;

}

.sidebar-team {
    /* Se colocan en la fila 2 automáticamente */
    grid-row: 2;
    cursor: pointer;
   
}


.pc-pagination-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #595daa;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 15px;
    border-bottom: 3px solid #3e2694;
    
}


.box-tab {
    background: #3c5ee7;
    border: none;
    padding: 8px 12px;
    color: white;
    font-weight: bold;
    font-size: 0.7em;
    cursor: pointer;
}

.box-tab:hover {
    background: #6373ec;
    color: white;
}

.box-tab.active {
    background: white;
    color: #2b30c0;
    border-bottom: 3px solid #5c4f91;
    transform: translateY(-2px);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.box-tab.dots {
    background: transparent;
    color: white;
    cursor: default;
}

/*Flechas de la etiqueta de paginación*/
.nav-arrow {
    background: #29257c;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    box-shadow: 0 2px 0 #837abb;
    color: white;
}


.main-pc-container {
    grid-row: 2;
    /* Fila 2 */
    border-radius: 15px;
    padding: 15px;


    height: 100%;
    overflow: hidden;
    /* Vital para que el scroll funcione dentro */
    box-sizing: border-box;
}


/* =========================================
    5. GRID POKEMON (PC BOX)
   ========================================= */
.pc-grid-compact {
    display: grid;
    /* Esto crea columnas automáticas de mínimo 90px */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    overflow-y: auto;
    /* Scroll vertical */
    padding: 10px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

/* Estilos de la tarjeta pequeña */
.pokemon-slot-compact {
    background: #fdfdfd;
    border: 2px solid #555;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 90px;
    transition: transform 0.1s;
}

.pokemon-slot-compact:hover {
    border-color: black;
    transform: scale(1.05);
    z-index: 10;
}

.pokemon-slot-compact.selected {
    filter: grayscale(1);
    opacity: 0.5;
    cursor: not-allowed;
}

.sprite-compact {
    width: 80px;
    height: 80px;
    image-rendering: pixelated;
    object-fit: contain;
}

.name-compact {
    font-size: 0.55rem;
    font-weight: bold;
    color: #333;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    overflow: hidden;
}