.log-container {
    background: #222;
    border: 4px solid #555;
    border-radius: 6px;
    height: 80%; /* Altura fija */
    padding: 10px;
    overflow-y: auto; /* Scroll vertical */
    font-size: 0.75rem;
    color: white;
    text-transform: capitalize;
    
}

.log-entry {
    margin-bottom: 5px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

/*
.log-entry:last-child {
    color: #ffff00; /* Último mensaje resaltado
    font-weight: bold;
} */