.log-container {
    background: #222;
    border: 4px solid #555;
    border-radius: 6px;
    height: 100%; /* Toma todo el espacio disponible */
    padding: 10px;
    overflow-y: auto; /* Si hay mucho texto, sale scroll, no crece el div */
    font-size: 0.75rem;
    color: white;
    text-transform: capitalize;
    
}

.log-entry {
    margin-bottom: 5px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

/*
.log-entry:last-child {
    color: #ffff00; /* Último mensaje resaltado
    font-weight: bold;
} */