.moves-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas */
    grid-template-rows: 1fr 1fr;    /* 2 filas */
    gap: 8px;
    padding: 5px;
    width: 300px; /* Ancho fijo para cuadrar con la UI */
}

/*BOTONES DE MOVIMIENTOS*/
.move-btn {
    background: #f8f9fa;
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.1s;
    overflow: hidden;
}

/*HOVER BOTONES*/
.move-btn:hover:not(:disabled) {
    background: #e9ecef;
    border-color: #535e96; /* Azul al pasar el ratón */
}


.move-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    filter: grayscale(100%);
}

/*DATOS MOVIMIENTOS (NOMBRE + PP)*/
.move-name {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.85rem;
    color: #333;
}

.move-pp {
    font-size: 0.65rem;
    color: #666;
    margin-top: 4px;
}
