.App {
  text-align: center;

  background-image: url('resources/background.jpg');
  background-size: cover;
}


.App-header {
 
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


