@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {

  font-family: 'Press Start 2P', cursive;
  /*Fuente global*/

  overflow-x: hidden;
  /* Evita scroll horizontal innecesario */

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}